head{

}

body{

  border-width: thick;
}

p{

}

nav {
  position:absolute;
  left: 0px;
  width: 195px;
  border-color: pink;
  border-style: solid;


}

section{
  margin-left: 300px;
  border-color: yellow;
  border-style: solid;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
  border-color: green;
  border-style: solid;
  text-align: center;
}

img {
  float: right;
  margin: 0 0 0 0;
}

.sections{
  border-color: yellow;
  border-style: solid;



}

.nav{
  float: left;
  width: 25%;
  border-color: pink;
  border-style: solid;

}

.navi{
  float: left;
  width: 205px;
  border-style: solid;
  border-color: pink;
}

.clearfixi{
  overflow: auto;
  border-color: lightcyan;
  border-style: solid;

}

.section{
  margin-left: -200px;
}

.merefix{
  overflow: auto;
  border-color: yellow;
  border-style: solid;
  width:800px;
  margin:20px auto;
  max-width: 600px;
  max-height: 300px;

}

.clearfix{
  overflow: auto;
  border-color: lightcyan;
  border-style: solid;
  width:800px;
  margin:20px auto;
}

.fixclear{
  width:800px;
  margin:20px auto;
  border-style: solid;
  border-color: lightcyan;
}

.box{
  float:left;
  width: 200px;
  height: 100px;
  margin-left: 1em;
  border-style: solid;
  border-color: lightcyan;
}

.after-box {
  clear: left;
}

.float{
  background-color: lightgray;
  color: purple;
  width: 500px;
  margin: 20px auto;

}

.container{
  position:relative;
  border-color: lightcyan;
  border-style: solid;

}

.display{

  border: bold;
  border-style: solid;

}

.simple{
  width:500px;
  margin:20px auto;
  border-style: solid;
  border-color: lightcyan;
}

.fancy{
  width: 500px;
  margin: 20px auto;
  padding: 50px;
  border-width:10px;
  border-style: solid;
  border-color: lightcyan;
}

.simple5{
  width: 500px;
  margin: 20px auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          border-style: solid;
          border-color: lightcyan;
}

.fancy5{
  width:500px;
  margin:20px auto;
  padding:50px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          border-style: solid;
          border-color: lightcyan;
          border-width: 10px;

}

.static{
  position: static;
  border-style: solid;
  border-color: lightcyan;

}

.relative1{
  position:relative;
  border-color: lightcyan;
  border-style: solid;
}

.relative2{
  position:relative;
  top: -20px;
  left: 20px;
  background-color: white;
  width: 500px;
  border-style: solid;
  border-color: pink;
}

.fixed{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  background-color: white;
  border-style:solid;
  border-color: yellow;
}

.relative{
  position:relative;
  width: 600px;
  height: 400px;
  border-color: lightcyan;
  border-style: solid;
}

.absolute{
  position: absolute;
  top: 120px;
  right: 0;
  width: 300px;
  height:200px;
  border-color: pink;
  border-style: solid;

}
#hamster{
float: right;
width: 50%;
margin-left: -20px;
}

#hamstertext{
  float: left;
  width: 50%;
}

#main{
  width:600px;
  max-width:600px;
  margin: 0 auto;
  border-style: solid;
  border-width: thick;



}
